<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.label :UserName %>
  &nbsp&nbsp&nbsp&nbsp&nbsp<%= f.text_field :username %></div>
   <div>&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.label :email %>
 &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp<%= f.email_field :email %></div>


  <div>&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.label :password %>
  &nbsp&nbsp&nbsp&nbsp&nbsp<%= f.password_field :password %></div>

  <div>&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.label :pwdconfirmation %>
 &nbsp&nbsp&nbsp&nbsp&nbsp <%= f.password_field :password_confirmation %></div>
 <div>&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.label :mobile %>
 &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp<%= f.text_field :mobile%></div>


  <div>&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.submit "Sign up" %></div>
<% end %>
&nbsp&nbsp&nbsp&nbsp&nbsp
<%= render :partial => "devise/shared/links" %>
